* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control i {
  font-size: 35px;
  padding: 0 20px;
  color: red;
}

/* .title {
  font-family: 'Heebo', sans-serif, 600;
  align: center;
} */

.dots i {
  font-size: 25px;
  padding: 10px 10px;
  color: blue;
}

.dots i.active {
  color: red;
}
